.header {

    display: flex;
    align-items: center;
    padding: 20px 10px;

    @media (max-width: 361px){
        padding: 10px 5px;
        flex-direction: row-reverse;
    }

    &__logo {
        padding: 0px 15px;
    }

    &__logo-image {
        img{
            border-radius: 50%;
            border: 1px solid #34eba1;

            @media (max-width: 1025px){
                max-width: 75px;
                max-height: 75px;
            }
            @media (max-width: 1025px){
                max-width: 75px;
                max-height: 75px;
            }
            @media (max-width: 361px){
                max-width: 60px;
                max-height: 60px;
            }
        }
        
    }

    &__title {
        width: 100%;
        color: #34eba1;
        text-align: center;
    }

    &__company {
        font-size: 64px;
        font-weight: 700;

        @media (max-width: 1025px){
            font-size: 48px;
        }
        @media (max-width: 769px){
            font-size: 36px;
        }
        @media (max-width: 361px){
            font-size: 24px;
        }
    }
}


